<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <%= csrf_meta_tags %>
    <%= include_gon %>

    <%= javascript_packs_with_chunks_tag 'application', 'hello_vue', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload'%>

  </head>

  <body>
<div id="app"></div>
    <%= yield %>
  </body>
</html>